@model FurnitureBuildingSolution.ViewModels.PasswordChangeEmailViewModel

<html>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open Sans"
  />
  <head>
    <style>
      body {
        font-family: "Open Sans", sans-serif;
      }
      .a4-page {
        text-align: center;
        padding: 80px;
      }
      .center-logo {
        height: 140px;
        margin-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="a4-page">
      <div>
        <img
          src="https://shelfer.dk/resources/images/logo--dark.png"
          class="center-logo"
        />
      </div>
      <h1>Shelfer: Skift adgangskode</h1>
      <div>Klik på dette link for at ændre din adgangskode:</div>
      <div><a href="@(Model.RecoveryLink)">Skift adgangskode</a></div>
    </div>
  </body>
</html>
