# This is a sample build configuration for .NET Core.
# Check our guides at https://confluence.atlassian.com/x/5Q4SMw for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: peterekepeter/dotnet-node-sdk:latest

pipelines:
  default:
    - step:
        caches:
          - dotnetcore
        script: # Modify the comma`nds below to build your repository.
          - cd content
          - export PROJECT_NAME=FurnitureBuildingSolution.csproj
          - dotnet restore
          - dotnet build $PROJECT_NAME
