body {
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.inherit-header {
  font-weight: inherit;
  font-size: inherit;
}

.main-nav {
  /* position: fixed; */
  width: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.75);
}

.navbar a {
  color: black;
}

.nav-item a::after {
  content: "";
  display: block;
  margin: auto;
  width: 0;
  height: 2px;
  background: #2dac86;
  transition: width 0.3s;
}

.nav-item a:hover::after,
.nav-item a:active::after,
.nav-item a:focus::after,
.nav-item a.active::after {
  width: 100%;
  transition: width 0.3s;
}

.bg-dark {
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.white-text {
  color: white;
}

.centered-box {
  text-align: center;
  margin-top: 62px;
  min-height: calc(100vh - 70px);
}

.standard-box {
  margin: 62px 10%;
}

.text-container {
  max-width: 800px;
  margin: 0 auto;
}

.text-section {
  margin-bottom: 30px;
}

.page-header {
  text-align: center;
}

.small-input {
  max-width: 400px;
  margin: auto;
}

#mainView {
  width: 100%;
}

iframe {
  margin-right: 0 !important;
  position: absolute;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 8px;
  margin: -5px 0 5px 0;
}

.custom-modal {
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.4);
  max-height: 90vh;
  overflow: auto;
}

.control-panel {
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  /* TODO: breaking control panel on safari overflow: auto; */ /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: transparent;
}

.control-panel-section {
  padding: 5px 5px;
}

.control-panel-content {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 15px;

  position: fixed;

  max-height: calc(100vh - 12px);
  overflow: auto;
}

@media (min-width: 851px) {
  .control-panel-content {
    border: solid 1px lightgrey;
    border-radius: 5px;
    float: right;
    width: 427px;
    max-width: calc(100% - 12px);
    top: 6px;
    left: 6px;
  }
  .show-on-small-screens {
    display: none;
  }
}

@media (max-width: 850px) {
  .show-on-big-screens {
    display: none;
  }
  .control-panel-content {
    width: 100%;
    bottom: 0;
    right: 0;
    border-top: 1px solid grey;
  }
  .control-panel-content::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .control-panel-content::-webkit-scrollbar:vertical {
    width: 12px;
  }
  .control-panel-content::-webkit-scrollbar:horizontal {
    height: 12px;
  }
  .control-panel-content::-webkit-scrollbar-thumb {
    background-color: #2dac86;
    border: 2px solid #ffffff;
  }
  .control-panel-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }
}

.control-panel-content.full-size {
  max-height: calc(100vh - 12px);
}

.modal-button-container {
  text-align: right;
  margin-top: 10px;
}

.modal-close-button {
  text-align: right;
}

.modal-bottom-close-button {
  float: right;
}

/* The Close Button */
.modal-close-button.container button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slidecontainer {
  width: 100%;
  margin-top: 6px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-container {
  padding-left: 10px;
  margin-bottom: 10px;
}

.options-toggle-button-container {
  text-align: center;
  width: 100%;
}

.slider:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #2dac86;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #282828;
  cursor: pointer;
}

.graphic-button-container {
  display: inline;
}
.graphic-button-root {
  text-align: left;
}
.delete-bookcase-button {
  position: relative;
}

.button-container {
  text-align: right;
  margin-top: 10px;
}

.number-input-field {
  width: 90%;
  max-width: 150px;
}

.divider-top {
  border-top: solid #2dac86 1px;
}

.regular-text-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.small-padding-top {
  padding-top: 10px;
}

.small-padding-bottom {
  padding-bottom: 10px;
}

.s-btn {
  border: 1px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid transparent;
}
.s-btn-transparent {
  background-color: transparent;
}
.tiny-btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

.btn-invisible {
  background-color: transparent;
  border: none;
  color: black;
}
.btn-invisible:focus {
  outline: none;
}

.s-btn:disabled {
  color: white;
  background-color: lightgrey;
  border-color: #b8b8b8;
}

.small-table-container {
  margin: 30px auto 0 auto;
  max-width: 600px;
}

.medium-table-container {
  margin: 30px auto 0 auto;
  max-width: 1200px;
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 2rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.25rem;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
  border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px rgba(45, 172, 134, 0.5);
}

.b-contain input:checked ~ .b-input {
  background: #2dac86;
  border-color: #2dac86;
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input,
.b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: #2dac86;
  border-color: #2dac86;
}

.b-contain .b-input::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: #282828;
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes b-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

.table-no-borders > tbody > tr > td,
.table-no-borders > tbody > tr > th {
  border: 0px;
}

/* TODO: NEW STYLING FROM OAK*/

/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&family=Roboto:wght@400;500&display=swap");

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  color: #282828;
}

h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 576px) {
  h1 {
    margin-bottom: 30px;
  }
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #282828;
}

span {
  font-family: "Roboto", sans-serif;
}

.hashtag {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2dac86;
  margin-top: 15px;
}
@media only screen and (min-width: 768px) {
  .hashtag {
    margin-top: 5px;
  }
}
.hashtag--red {
  color: #ff5755;
}
.hashtag--yellow {
  color: #ffa30e;
}

.text--highlight {
  font-weight: 700;
}

.target {
  position: relative;
  font-weight: 900;
}
@media only screen and (min-width: 768px) {
  .target a::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 18px;
    width: -webkit-calc(100% - 36px);
    width: calc(100% - 36px);
    border-bottom: 1px solid #000000;
  }
}

.brand-color {
  color: #2dac86;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
a.btn,
.btn {
  display: inline-block;
  font-family: "Assistant", sans-serif;
  font-weight: 600;
  background-color: #282828;
  color: #ffffff;
  padding: 13px 27px;
  font-size: 14px;
  border-radius: 0;
}
a.btn:hover,
.btn:hover {
  color: #ffffff;
  background-color: #424141;
}

a.btn.btn-secondary,
.btn.btn-secondary {
  background-color: #ffffff;
  color: #282828;
}
a.btn.btn-small,
.btn.btn-small {
  padding: 8px 15px;
  font-size: 12px;
}
a.btn.btn-brand,
.btn.btn-brand {
  background-color: #2dac86;
}
a.btn.btn-negative,
.btn.btn-negative {
  background-color: #e15554;
}
a.btn:hover,
.btn:hover {
  color: #ffffff;
  background-color: #424141;
}

.text-link,
a.text-link {
  font-family: "Assistant", sans-serif;
  font-weight: 700;
  color: #000000;
  display: inline-block;
  border-bottom: 1px solid #000000;
}
.text-link:hover,
a.text-link:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
@media only screen and (min-width: 1300px) {
  .container,
  .container-md {
    max-width: 1300px;
  }
}

@media only screen and (min-width: 1400px) {
  .container,
  .container-md {
    max-width: 1400px;
  }
}

img {
  max-width: 100%;
}

.overflow--hide {
  overflow: hidden;
}

.price-tag {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.large-text {
  font-size: 20px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
form {
  max-width: 550px;
  margin: 0 auto;
}
form .form__group {
  display: block;
}
@media only screen and (min-width: 768px) {
  form .form__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
form .form__group .field {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  position: relative;
  margin: 0 0 20px 0;
}
@media only screen and (min-width: 768px) {
  form .form__group .field {
    margin: 0 20px 0 0;
  }
  form .form__group .field:last-child {
    margin: 0;
  }
}
form .form__group .field:last-child {
  margin: 0;
}
form .form__group .field input[type="text"],
form .form__group .field input[type="email"],
form .form__group .field input[type="submit"] {
  width: 100%;
  padding: 14px 25px;
  font-size: 14px;
  border: none;
}
form .form__group .field input[type="text"]:focus + label,
form .form__group .field input[type="text"]:not(:placeholder-shown) + label,
form .form__group .field input[type="email"]:focus + label,
form .form__group .field input[type="email"]:not(:placeholder-shown) + label,
form .form__group .field input[type="submit"]:focus + label,
form .form__group .field input[type="submit"]:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 10px;
}
form .form__group .field label {
  position: absolute;
  top: -webkit-calc(50% - 7px);
  top: calc(50% - 7px);
  left: 25px;
  font-size: 14px;
  line-height: 1;
  color: #4e4e4e;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
form .form__group .field--min {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
